<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>네이버 로그인</title>
</head>
<body>
<!-- 네이버 로그인 버튼 노출 영역 -->
<div id="naver_id_login"></div>
<!-- //네이버 로그인 버튼 노출 영역 -->
<a href="#" id="naverLoginLink">
    <img height="50" src="http://static.nid.naver.com/oauth/small_g_in.PNG"/>
</a>

<script type="text/javascript">
    document.getElementById('naverLoginLink').addEventListener('click', function (event) {
        event.preventDefault(); // 링크 기본 동작 방지

        fetch('/api/auth/login', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            },
            credentials: 'include' // 쿠키 포함
        })
            .then(response => {
                if (response.ok) {
                    return response.text(); // 응답을 문자열로 변환
                } else {
                    throw new Error('로그인 요청 실패');
                }
            })
            .then(url => {
                // 팝업창 열기
                window.location.href = url; // 응답값을 href로 요청
            })
            .catch(error => {
                console.error('오류:', error);
            });
    });
</script>

</body>
</html>
